.content {
	padding: 40px;
	margin: auto;
	border-top: 1px solid #505050;
	border-radius: 50px 50px 0 0;
}

.content * {
	padding: 0;
	margin: 0;
}

.list li {
	margin-bottom: 10px;
}

.list li strong {
	text-decoration: underline;
}

.highlight {
	background-color: yellow;
}

iframe {
	width: 500px;
	height: 280.25px;
	background-color: black;
	border-radius: 10px;
	border: none;
}

.maintitle {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.maintitle h1 {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	font-size: 64px;
	margin: 0;
	padding: 0;
}

.maintitle h1.writer {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	font-size: 64px;
	margin: 0;
	padding: 0;
	z-index: 1;
	animation:
		typing 3s steps(22, end) forwards,
		fadeout linear;
	animation-timeline: auto, view();
	animation-range: normal, exit -32vh;
}

.maintitle h1.writer::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	border-bottom: 5px solid #000;
	animation: blink 0.75s step-end infinite;
}

.maintitle h3 {
	font-size: 70px;
	margin: 0;
	padding: 0;
	margin-top: -120px;
	color: #1a1a1a1a;
	animation: fadeout;
	animation-timeline: view();
	animation-range: exit -20vh;
}

.maintitle p {
	font-size: 32px;
	margin-top: 40px;
	padding: 0 20px 0 20px;
	color: #4d4d4d;
	animation: fadeout;
	animation-timeline: view();
	animation-range: exit -48vh;
}

.nondesktop{
	display: none;
}

@keyframes fadeout {
	to {
		transform: translateX(-50%);
		opacity: 0;
	}
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 1200px;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@media (max-width: 1200px) {
	.maintitle,
	.content {
		display: none;
	}
	.nondesktop {
		display: block;
	}
}

.nondesktop {
  display: flex;
  padding-left: 1rem;
  padding-right: 1rem;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  background-color: #111827;
  height: 100vh;
}

.nondesktop .container {
  text-align: center;
}

.nondesktop h1 {
  margin-bottom: 1.5rem;
  font-weight: 700;
  color: #EC4899;
}

.nondesktop h2 {
  margin-bottom: 1rem;
  font-weight: 600;
}

.nondesktop p {
  margin-bottom: 1.5rem;
  color: #9CA3AF;
}

.nondesktop a:hover{
  background-color: #BE185D;
}