.content {
	padding: 40px;
	margin: auto;
	border-top: 1px solid #505050;
	border-radius: 50px 50px 0 0;
}

.content * {
	padding: 0;
	margin: 0;
}

.list li {
	margin-bottom: 10px;
}

.list li strong {
	text-decoration: underline;
}

.highlight {
	background-color: yellow;
}

iframe {
	width: 500px;
	height: 280.25px;
	background-color: black;
	border-radius: 10px;
	border: none;
}

.maintitle {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.maintitle h1 {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	font-size: 64px;
	margin: 0;
	padding: 0;
}

.maintitle h1.writer {
	z-index: 1;
	animation:
		typing 3s steps(22, end) forwards,
		fadeout linear;
	animation-timeline: auto, view();
	animation-range: normal, exit -32vh;
}

.maintitle h1.writer::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25px;
	border-bottom: 5px solid #000;
	animation: blink 0.75s step-end infinite;
}

.maintitle h3 {
	font-size: 70px;
	margin: 0;
	padding: 0;
	margin-top: -120px;
	color: #1a1a1a1a;
	animation: fadeout;
	animation-timeline: view();
	animation-range: exit -20vh;
}

.maintitle p {
	font-size: 32px;
	margin-top: 40px;
	padding: 0 20px 0 20px;
	color: #4d4d4d;
	animation: fadeout;
	animation-timeline: view();
	animation-range: exit -48vh;
}

.mobiletitle {
	display: none;
}

.menubg {
	display: none;
}

.menu {
	display: none;
}

@keyframes fadeout {
	to {
		transform: translateX(-50%);
		opacity: 0;
	}
}

@keyframes typing {
	from {
		width: 0;
	}

	to {
		width: 1200px;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@media (max-width: 1200px) {

	.maintitle {
		display: none;
	}

	.mobiletitle {
		height: 100vh;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}

	.mobiletitle.incomplete {
		height: 80vh;
	}

	.mobiletitle h1 {
		font-size: 32px;
		z-index: 1;
		margin: 0;
		padding: 0;
		animation: fadeout;
		animation-timeline: view();
		animation-range: exit -30vh;
	}

	.mobiletitle h3 {
		font-size: 30px;
		margin: 0;
		padding: 0;
		margin-top: -90px;
		color: #1a1a1a1a;
		animation: fadeout;
		animation-timeline: view();
		animation-range: exit -38vh;
	}

	.mobiletitle p {
		font-size: 16px;
		margin-top: 40px;
		padding: 0 20px 0 20px;
		color: #4d4d4d;
		animation: fadeout;
		animation-timeline: view();
		animation-range: exit -38vh;
	}

	iframe {
		width: 250px;
		height: 140.13px;
	}

	.content {
		padding: 10px;
		padding-top: 35px;
	}

	.menubg {
		display: block;
		height: 100vh;
		width: 100%;
		z-index: 2;
		backdrop-filter: blur(5px);
		position: fixed;
		top: 0;
		left: 0;
	}

	.menu {
		display: block;
		z-index: 3;
		background-color: white;
		height: calc(100vh - 40px);
		width: 230px;
		position: fixed;
		top: 40px;
		right: -230px;
		transition: right 0.3s ease;
		padding-top: 40px;
	}

	.menu.open {
		right: 0;
	}

	.menu ul {
		margin: 10px;
		text-align: center;
	}

	.menu ul {
		margin: 10px;
		text-align: center;
	}

	.menu ul li {
		background-color: #bbdefd;
		border-radius: 20px;
	}

	.special{
		position: absolute;
		bottom: 100px;
		right: 10%;
		/* margin-top: 150% !important; */
	}
}