.code {
  color: black;
  background-color: #eeeeee;
  border-radius: 20px;
  border: 0.5px solid #c9c9c9;
}
.code pre, .code p{
  padding: 10px;
}

.hr {
  height: 0.5px;
  border: none;
  background-color: #c9c9c9;
}

.heading{
  font-size: small;
  border-radius: 20px 20px 0 0;
}

.text{
  background-color: #dddddd;
  border-radius: 0 0 20px 20px;
  overflow: auto;
}